<script type="text/javascript">
  function setTimestamp(){
    $('comment_timestamp').value = parseInt(ytplayer.getCurrentTime());
    return true;
  }
</script>

<%= form_for [@video, @comment], :remote => true, :html => {:onsubmit => "setTimestamp();"} do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%# f.label :timestamp %><br />
    <%= f.hidden_field :timestamp %>
  <div class="field">
    Comentario<br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
