<h1>Catedras</h1>

<table>
  <tr>
    <th>Curso</th>
    <th>Nombre</th>
    <th>Profesor</th>
    <th>Semestre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= video.course %></td>
    <td><%= video.name %></td>
    <td><%= video.professor %></td>
    <td><%= video.semester %></td>
    <td><%= link_to 'Ver', video %></td>
    <td><% link_to 'Edit', edit_video_path(video) %></td>
    <td><% link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% link_to 'Nueva Catedra', new_video_path %>
